@import "variables";

.hero
{
    background-color: $drk-bkg;
}
.header
{
    
}
.hero_container
{

}
.content
{

}
.hero_title
{
    font-weight: $txt-bold;
    color: $hero_hdr-clr;
    
}
.hero_subtext
{

}