@import "buttons";
@import "call-to-action";
@import "card";
@import "cardHolder";
@import "footer";
@import "hero";
@import "img";
@import "links";
@import "quote";
@import "variables";

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bold
{
    font-weight: $txt-bold;
}